@import 'ui_variables';

.#{$prefix} .vop-style-play {
  background-image: url(../img/ic_play_arrow_24px.svg);
}

.#{$prefix} .vop-style-pause {
  background-image: url(../img/ic_pause_24px.svg);
}

.#{$prefix} .vop-style-play-giant {
  background-image: url(../img/ic_play_arrow_48px.svg);
}

.#{$prefix} .vop-style-pause-giant {
  background-image: url(../img/ic_pause_48px.svg);
}

.#{$prefix} .vop-style-replay {
  background-image: url(../img/ic_replay_24px.svg);
}

.#{$prefix} .vop-style-volumedown {
  background-image: url(../img/ic_volume_down_24px.svg)
}

.#{$prefix} .vop-style-volumeup {
  background-image: url(../img/ic_volume_up_24px.svg)
}

.#{$prefix} .vop-style-volumeoff {
  background-image: url(../img/ic_volume_off_24px.svg)
}

.#{$prefix} .vop-style-subtitles {
  background-image: url(../img/ic_subtitles_24px.svg)
}

.#{$prefix} .vop-style-settings {
  background-image: url(../img/ic_settings_24px.svg)
}

.#{$prefix} .vop-style-fullscreen {
  background-image: url(../img/ic_fullscreen_24px.svg)
}

.#{$prefix} .vop-style-fullscreen-exit {
  background-image: url(../img/ic_fullscreen_exit_24px.svg)
}

.#{$prefix} .vop-style-play,
.#{$prefix} .vop-style-pause,
.#{$prefix} .vop-style-play-giant,
.#{$prefix} .vop-style-pause-giant,
.#{$prefix} .vop-style-replay,
.#{$prefix} .vop-style-volumedown,
.#{$prefix} .vop-style-volumeup,
.#{$prefix} .vop-style-volumeoff,
.#{$prefix} .vop-style-subtitles,
.#{$prefix} .vop-style-settings,
.#{$prefix} .vop-style-fullscreen,
.#{$prefix} .vop-style-fullscreen-exit {
  background-position: center;
  background-repeat: no-repeat;
}


