body {
  background-color: white;
}

#idBtnController {
  position: relative;
}

/****************************************************************************************/
#idLog {
  font-family: courier, monospace;
  font-size: 12px;
  margin-top: 20px;
  height: 200px;
  width: auto;
  padding: 5px;
  border: 1px #ccc solid;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

/****************************************************************************************/



