@import 'ui_variables';
.#{$skinYoutube} {
  .vop-style-play {
    background-image: url(../assets/svg/ic_play_arrow_24px.svg);
  }
  .vop-style-pause {
    background-image: url(../assets/svg/ic_pause_24px.svg);
  }
  .vop-style-play-giant {
    background-image: url(../assets/svg/ic_play_arrow_48px.svg);
  }
  .vop-style-pause-giant {
    background-image: url(../assets/svg/ic_pause_48px.svg);
  }
  .vop-style-replay {
    background-image: url(../assets/svg/ic_replay_24px.svg);
  }
  .vop-style-volumedown {
    background-image: url(../assets/svg/ic_volume_down_24px.svg)
  }
  .vop-style-volumeup {
    background-image: url(../assets/svg/ic_volume_up_24px.svg)
  }
  .vop-style-volumeoff {
    background-image: url(../assets/svg/ic_volume_off_24px.svg)
  }
  .vop-style-subtitles {
    background-image: url(../assets/svg/ic_subtitles_24px.svg)
  }
  .vop-style-settings {
    background-image: url(../assets/svg/ic_settings_24px.svg)
  }
  .vop-style-fullscreen {
    background-image: url(../assets/svg/ic_fullscreen_24px.svg)
  }
  .vop-style-fullscreen-exit {
    background-image: url(../assets/svg/ic_fullscreen_exit_24px.svg)
  }
  .vop-style-cast {
    background-image: url(../assets/svg/ic_fullscreen_exit_24px.svg)
  }

  .vop-style-play,
  .vop-style-pause,
  .vop-style-play-giant,
  .vop-style-pause-giant,
  .vop-style-replay,
  .vop-style-volumedown,
  .vop-style-volumeup,
  .vop-style-volumeoff,
  .vop-style-subtitles,
  .vop-style-settings,
  .vop-style-fullscreen,
  .vop-style-fullscreen-exit,
  .vop-style-cast {
    background-position: center;
    background-repeat: no-repeat;
  }
}