@import 'ui_variables';

/*********************************************************************************************/
/************ Begin Player State ************/
/* state: idle */
.vop-player-idle .vop-bottom-bar {
  display: none;
}


/* state: opening */
.vop-player-opening .vop-bottom-bar {
  display: none;
}

/* state: opened */


.vop-player-opened .vop-bottom-bar {
  display: none;
}

/* state: playing */

/* state: paused */


/* state: ended */

/************ End Player State ************/

/*********************************************************************************************/
/************ Begin auto-hide ************/
.vop-autohide {
  cursor: none
}

.vop-autohide .vop-gradient-bottom {
  display: none;
}

.vop-autohide .vop-bottom-bar {
  opacity: 0;
  -moz-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
  -webkit-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
  transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.vop-autohide:not(.vop-huge-button-container) {
  cursor: none;
}
/************ End auto-hide ************/

/*********************************************************************************************/
/************ Begin buffering ************/
.vop-buffering .vop-spinner {
  display: block;
}
/************ End buffering ************/

/*********************************************************************************************/
/************ Begin chromecast connected ************/
.vop-chromecast-connected .vop-chromecast-overlay {
  display: block;
}
/************ End chromecast connected ************/
