/* Skin name class */
$skinYoutube: 'vop-skin-youtube' !default;


$zIndex_gradient_bottom: 2;
$zIndex_caption_window: 3;
$zIndex_tooltip: 10;
$zIndex_spinner: 20;
$zIndex_giant_button_container: 30;
$zIndex_skin_container: 40;
$zIndex_control_bar: 50;
$zIndex_logo: 2000;


/************ Begin containers ************/
.#{$skinYoutube} {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: $zIndex_skin_container;
}
/************ End containers ************/

