/* Skin name class */
$skinYoutube: 'vop-skin-youtube' !default;

$zIndex_gradient_bottom: 2;
$zIndex_caption_window: 2;
$zIndex_spinner: 2;
$zIndex_giant_button_container: 2;
$zIndex_skin_container: auto;
$zIndex_control_bar: 2;
$zIndex_logo: 2;

/* No matter ad show or not, the tooltip & popupmenu show overlay on the top of it. */
$zIndex_tooltip: 2;
$zIndex_popup_menu: 2;



