@import '../ui_variables';

.#{$skinYoutube} {
  .vop-style-airplay {
    background-image: url(../assets/svg/ic_airplay_24px.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}



