@import '../ui_variables';

.#{$skinYoutube} {
  .vop-control-bar {
    position: relative;
    height: 36px;
    overflow: hidden;
    /*Hide controls if the rectangle is too small.*/
  }
  .vop-left-controls {
    height: 100%;
    float: left;
  }
  .vop-right-controls {
    height: 100%;
    float: right;
  }
}





