@import '../ui_variables';

.#{$skinYoutube} {
  .vop-play-button {
    background-position: center;
    background-repeat: no-repeat;
  }
}

.vop-player-playing {
  .#{$skinYoutube} .vop-play-button {
    background-image: url(../assets/svg/ic_pause_24px.svg);
  }
}

.vop-player-paused {
  .#{$skinYoutube} .vop-play-button {
    background-image: url(../assets/svg/ic_play_arrow_24px.svg);
  }
}

.vop-player-ended {
  .#{$skinYoutube} .vop-play-button {
    background-image: url(../assets/svg/ic_replay_24px.svg);
  }
}








