@import '../ui_variables';

.#{$skinYoutube} {
  .vop-play-button {
    float: left;
  }

  .vop-play-button::before {
    content: '';
    display: block;
    height: 100%;
    width: 12px;
    position: absolute;
    top: 0;
    left: -12px;
  }

  .vop-style-play {
    background-image: url(../assets/svg/ic_play_arrow_24px.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .vop-style-pause {
    background-image: url(../assets/svg/ic_pause_24px.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .vop-style-replay {
    background-image: url(../assets/svg/ic_replay_24px.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}



