@import '../ui_variables';

.#{$skinYoutube} {
  .vop-cast-button {
    background-image: url(../assets/svg/Chromecast_cast_button_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}



